---
layout: default
---

<div class="home">

  <h2>Follow Me</h2>

  <div class="row mb-5">
    {% include follow-link.html
      service="RSS"
      image="rss"
      handle="CodingItWrong.com"
      description="Posts"
      link="/rss"
      sametab=true
    %}
    {% include follow-link.html
      service="Twitch"
      image="twitch"
      handle="CodingItWrong"
      description="Streaming"
      link="https://www.twitch.tv/codingitwrong/"
    %}
    {% include follow-link.html
      service="YouTube"
      image="youtube"
      handle="CodingItWrong"
      description="Videos"
      link="https://www.youtube.com/channel/UCa-4tbLDX_lmq2f40L0paZw"
    %}
    {% include follow-link.html
      service="Gitter"
      image="gitter"
      handle="CodingItWrong"
      description="Chat"
      link="https://gitter.im/codingitwrong/Lobby"
    %}
  </div>

  <h2>Posts</h2>

  <ul class="list-unstyled">
    {% for post in site.posts %}
      <li class="h-entry mb-5">
        <span class="post-meta"><time class="dt-published" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</time></span>

        <h3>
          <a class="post-link p-name u-url" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h3>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
