---
layout: default
---

<div class="home">

  <div class="row mb-5">
    {% include follow-link.html
    service="YouTube"
    image="youtube"
    handle="CodingItWrong"
    description="Videos"
    link="https://www.youtube.com/channel/UCa-4tbLDX_lmq2f40L0paZw"
    %}
    {% include follow-link.html
    service="Twitch"
    image="twitch"
    handle="CodingItWrong"
    description="Streaming"
    link="/stream"
    sametab=true
    %}
    {% include follow-link.html
    service="Discord"
    image="discord"
    handle="CodingItWrong"
    description="Chat"
    link="https://discord.gg/vnRwUC5u"
    %}
    {% include follow-link.html
    description="OSS"
    service="GitHub"
    handle="CodingItWrong"
    image="github"
    link="https://github.com/CodingItWrong"
    %}
    {% include follow-link.html
    service="Mastodon"
    image="mastodon"
    handle="@codingitwrong@mastodon.technology"
    description="Social"
    link="/mastodon.html"
    sametab=true
    %}
    {% include follow-link.html
    service="LinkedIn"
    image="linkedin"
    handle="Josh Justice"
    description="Social"
    link="https://www.linkedin.com/in/jjustice/"
    %}
    {% include follow-link.html
    service="RSS"
    image="rss"
    handle="CodingItWrong.com"
    description="Posts"
    link="/rss.html"
    sametab=true
    %}
  </div>

  <h2>Book</h2>

  <ul class="list-unstyled d-none d-md-block">
    <li class="media my-4">
      <img class="pull-left mr-3" src="/img/books/outside-in-react.png" alt="Outside-In React Development: A TDD Primer" />
      <div class="media-body">
        <h3>
          <a href="https://leanpub.com/outside-in-react-development">
            <em>Outside-In React Development: A TDD Primer</em>
          </a>
        </h3>
        <p>My book has been published on Leanpub! Learn how to build React apps using outside-in test-driven development, including end-to-end tests with Cypress and unit tests with Jest and React Testing Library. Includes an extended exercise building two application features. See how outside-in TDD leads to a thorough test suite, better regression safety, and a faster development speed.</p>
      </div>
    </li>
  </ul>

  <div class="d-block d-md-none">
    <div>
      <img src="/img/books/outside-in-react.png"  class="d-block mx-auto" alt="Outside-In React Development: A TDD Primer" />
      <h4><a href="{{ include.url }}">Outside-In React Development: A TDD Primer</a></h4>
      <p>My book has been published on Leanpub! Learn how to build React apps using outside-in test-driven development, including end-to-end tests with Cypress and unit tests with Jest and React Testing Library. Includes an extended exercise building two application features. See how outside-in TDD leads to a thorough test suite, better regression safety, and a faster development speed.</p>
    </div>
  </div>

  {% comment %}
  <h2>Live Streams</h2>

  <ul class="list-unstyled">
    <li class="mb-5">
      <h3>
        <a href="/stream">
          <img src="/img/logos/twitch.png" alt="Twitch logo" class="stream-logo" />
          CodingItWrong on Twitch
        </a>
      </h3>
      <i>Weekly 1-hour streams</i>
      <p>Let's try out tools and techniques to make apps easier to build and evolve! A particular focus on testing and on web and mobile app development in React, React Native, and JavaScript.</p>
    </li>
  </ul>
  {% endcomment %}

  <h2>Posts</h2>

  <ul class="list-unstyled">
    {% for post in site.posts %}
    <li class="h-entry mb-5">
      <span class="post-meta"><time class="dt-published" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date |
          date: "%b %-d, %Y" }}</time></span>

      <h3>
        <a class="post-link p-name u-url" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h3>
    </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ " /feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
