<div class="col-12 col-sm-3 mb-3">
  <div class="card">
    <a
      href="{{ include.link }}"
      title="{{ include.service }}: {{ include.handle }}"
      {% if include.sametab != true %}
        target="_blank"
        rel="noreferrer noopener"
      {% endif %}
    >
      <div class="card-body d-flex flex-row flex-sm-column align-items-center">
        <img src="/img/logos/{{ include.image }}.png" alt="{{ include.service }} logo" class="follow-logo mr-3 mr-sm-0 mb-sm-3" />
        {{ include.description }}: {{ include.service }}
      </div>
    </a>
  </div>
</div>
