<div class="col-12 col-sm-4 mb-3">
  <div class="card">
    <div class="card-body">
      <a
        href="{{ include.link }}"
        title="{{ include.service }}: {{ include.handle }}"
        {% if include.sametab != true %}
          target="_blank"
          rel="noreferrer noopener"
        {% endif %}
        class="d-flex flex-row flex-sm-column align-items-center p-2"
      >
        <img src="/img/logos/{{ include.image }}.png" alt="{{ include.service }} logo" class="follow-logo m-3" />
        {{ include.description }}: {{ include.service }}
      </a>
    </div>
  </div>
</div>
