@media (min-width: 992px) {
  .container {
    max-width: 740px;
  }
}

article.post {
  font-family: serif;
  font-size: 21px;
}

.highlight {
  font-size: 1rem;
}

img {
  max-width: 100%;
  max-height: 173px;
}

nav.bg-light {
  background-color: rgb(222, 255, 0) !important;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

a {
  color: black;
  text-decoration: underline;
}

a:hover {
  background-color: rgb(222, 255, 0);
  color: black;
}

.navbar-light .navbar-brand {
  color: black;
  text-decoration: none;
}

.navbar-light .navbar-brand:hover {
  text-decoration: underline;
}

.navbar-light .navbar-brand {
  color: black;
  text-decoration: none;
}

.navbar-light .navbar-nav .nav-link {
  text-decoration: none;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: black;
  text-decoration: underline;
}

.post-title a {
  text-decoration: none
}

.post-title a:hover {
  background-color: inherit;
  text-decoration: underline;
}

code {
  background-color: rgb(222, 255, 0);
  color: black;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  background-color: inherit;
  text-decoration: underline;
}
